/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* $dark-background: #6b717f; */
/* $dark-text: #d2e1dd; */
/* MIXINS */
button,
hr,
input {
  overflow: visible;
}

progress,
sub,
sup {
  vertical-align: baseline;
}

[type=checkbox],
[type=radio],
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

details,
main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v34-latin-500.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.offcanvas__span {
  position: relative;
  margin-top: 10px;
  padding-left: 18px;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.offcanvas__span::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.offcanvas__span-2::before {
  background-image: url("../images/compare-icon.svg");
}

.offcanvas__span-3::before {
  background-image: url("../images/remove-icon.svg");
}

.offcanvas__mid__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.offcanvas__pre {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #6A983C;
}

.offcanvas__ins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.offcanvas__btn__list {
  position: absolute;
  right: 20px;
  top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6.5px;
  padding-left: 6px;
  padding-right: 24px;
  padding-bottom: 6.5px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.offcanvas__btn__item:first-child {
  padding-right: 6px;
  color: #D1D1D1;
}

.offcanvas__btn__item:last-child {
  position: relative;
  padding-left: 6px;
  border-left: 1px solid #D1D1D1;
}

.offcanvas__btn__item:last-child::after {
  position: absolute;
  content: "";
  background-image: url("../images/offcanvas-btn-icon.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  right: -18px;
  top: 7px;
}

.offcanvas__bottom__desc {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.offcanvas__bottom__pre {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #151515;
}

.offcanvas__bottom__btn__desc {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.offcanvas-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #151515;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.site-header__us {
  font-weight: 400;
  line-height: 16px;
  color: #151515;
}

.site-header__links {
  font-weight: 400;
  line-height: 16px;
  color: #6A983C;
}

.input-group {
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  max-width: 500px !important;

}

.btn {
  border: none;
}

.button-drodown {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515 !important;
}

.dropdown-toggle::after {
  background-image: url("../images/Vector.svg");
  background-repeat: no-repeat;
  border: none;
  width: 10px;
  height: 9px;
  vertical-align: 0;
  margin-left: 5px;
}

.form-control {
  border: none;
  border-radius: 50px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
}

.btn:first-child:hover {
  background-color: transparent;
}

@media only screen and (min-width:320px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    position: absolute;
    top: 200px;
    width: 90% !important;
  }
}

@media only screen and (min-width:500px) {
  .info-list {
    flex-direction: row !important;
  }

  .info-item:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (min-width:768px) {
  .input-group {
    left: calc(50% - 220px);
  }
}

@media only screen and (min-width:992px) {
  .input-group {
    position: static;
    width: 100% !important;

  }
}

.styles-drobdown {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.info-link-light {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #A9A9A9;
}

.info-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #151515;
}

.category-home-menu__heading-wrapper {
  width: 195px;
}

.category-home__list {
  width: 160px;
}

.best-selling--second {
  margin-top: 137px;
}

.category-home-menu__heading {
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.category-home-menu__link {
  position: relative;
  display: inline-block;
  width: 179px;
  margin-top: 35px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-right: 38px;
  padding-left: 16px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  text-decoration: none;
}

.category-home-menu__link::after {
  position: absolute;
  right: 13px;
  top: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../images/category-link-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.category-home-menu__card {
  background-image: url("../images/card-bg.svg");
  background-repeat: no-repeat;
}

.category-home-menu__inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 34px;
}

.category-home-menu__subdesc {
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.category-home-menu__subtitle {
  margin-bottom: 86px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.category-home-menu__card {
  width: 419px;
  margin-right: 31px;
  border-radius: 12px;
}

.category-home-menu__card:last-child {
  margin-right: 0;
}

.category-home__item-mobile {
  display: none;
}

.category-home-menu__card__btn {
  width: 100%;
  border-radius: 12px;
  max-width: 163px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  border: 2px solid #6A983C;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.category-home-menu__card__btn::after {
  position: absolute;
  right: 10px;
  top: 16px;
  background-image: url("../images/form-dropdown-icon.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  content: "";
}

@media screen and (max-width: 1189px) {
  .category-home-menu__right {
    width: 160px;
  }

  .category-home__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .category-home-menu__card {
    width: 350px;
  }
}

@media screen and (max-width: 1045px) {
  .category-home-menu__card {
    width: 300px;
  }
}

@media screen and (max-width: 959px) {
  .category-home-menu__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .category-home-menu__card {
    width: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .category-home-menu__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .category-home-menu__heading-wrapper {
    width: 150px;
  }

  .category-home__list {
    width: 153px;
  }

  .category-home__item {
    margin-bottom: 30px !important;
  }

  .category-home__item:last-child {
    margin-bottom: 20px !important;
  }

  .category-home-menu__right {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 706px) {
  .category-home__list {
    width: 160px;
  }

  .category-home-menu__heading-wrapper {
    width: 160px;
  }
}

.best-selling {
  padding-top: 128px;
}

.selling-card>img {
  width: 249px !important;
  padding-left: 20px;
}

.card-index-image {
  width: 249px !important;
  padding-left: 20px !important;
}

@media screen and (min-width: 320px) and (max-width: 572px) {
  .selling-card {
    margin: 0 auto;
  }

  .selling-card:nth-child(2) {
    margin: 20px auto;
  }
}

@media screen and (min-width: 778px) {
  .selling-card {
    float: right;
    margin-right: 30px;
  }
}

.slider {
  padding-top: 142px;
}

.slider-list {
  width: 100%;
  height: 250px;
  max-width: 1560px;
  margin: 0 auto;
  list-style: none;
}

.slider-item {
  position: relative;
  width: 359px !important;
  margin: 0 32px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  text-align: center;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
}

.slider-item>blockquote {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #151515;
}

.slider-item::after {
  position: absolute;
  top: 176px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../images/slider-imag.png");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  content: "";
}

.slider-item-2::after {
  background-image: url("../images/carousel-roundedmimg-2.png") !important;
}

.slider-item-3::after {
  background-image: url("../images/carousel-roundedmimg-3.png") !important;
}

.slider-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #A9A9A9;
}

@media only screen and (max-width: 945px) {
  .slider-item {
    width: 259px !important;
  }
}

@media screen and (max-width: 929px) {
  .slider-item::after {
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../images/slider-imag.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    content: "";
  }

  .slider-list {
    height: 300px;
  }
}

.headeline {
  padding-top: 133px;
}

.headline__content {
  margin-bottom: 37px;
}

.headline__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.headline__link {
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.headline__link::after {
  position: absolute;
  top: -1px;
  background-image: url("../images/list-icon.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  content: "";
}

.card {
  width: 268px;
}

.card-title {
  margin-bottom: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.card-text {
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.card img {
  width: 237px;
  height: 180px;
  margin: 0 auto;
  padding-top: 16px;
}

.card__inner {
  padding: 16px;
}

.card__cost {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

@media screen and (min-width: 320px) {
  .headline__boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.blog-home {
  padding-top: 142px;
  padding-bottom: 128px;
}

.blog-home__card__one {
  width: 100%;
  max-width: 469px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 65px;
  padding-bottom: 24px;
  background-image: url("../images/blog-home-main.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.blog-home__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

.blog-home__subbutton {
  width: 82px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
  border: none;
}

.blog-home__card__two {
  width: 269px;
  margin: 0 31px;
}

.blog-home__subbutton-two {
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-home__mid-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.blog-home__last-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.blog-home__last-wrapper {
  width: 225px;
}

.blog-home__item {
  width: 370px;
}

@media only screen and (max-width: 1211px) {
  .blog-home__card__one {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .blog-home__card__two-wrapper {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 728px) {
  .blog-home__card__two-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog-home__card__two {
    width: 350px;
    max-width: 469px;
    margin: 0 31px;
  }

  .blog-home__card__two:first-child {
    margin-bottom: 50px;
  }

  .blog-home__card__two>img {
    width: 100%;
  }

  .blog-home__card__one {
    width: 100%;
    max-width: 469px;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 25px;
    background-image: url("../images/blog-home-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blog-home__item {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

@media only screen and (max-width: 500px) {
  .blog-home__card__one {
    width: 100%;
    max-width: 469px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 65px;
    padding-bottom: 24px;
    background-image: url("../images/blog-home-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .blog-home__content-wrapper {
    width: 220px;
  }

  .blog-home__subtitle {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: start;
  }

  .blog-home__subbutton {
    width: 82px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    background: #F4F8EC;
    border-radius: 12px;
    border: none;
  }

  .blog-home__card__two {
    width: 237px;
    margin: 0 31px;
  }

  .blog-home__subbutton-two {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .blog-home__mid-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
  }

  .blog-home__last-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
  }

  .blog-home__last-wrapper {
    width: 225px;
  }

  .blog-home__item {
    width: 260px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact-part {
  margin-top: 16px;
}

.contact-form {
  max-width: 670px;
}

.contact-billing-titles {
  margin-bottom: 32px;
}

.billing-title {
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.biling-steps-info {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.billing-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 4px 0 0px 0;
}

.name-form-box {
  margin-bottom: 32px;
}

.contact-person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.contact-person-input {
  width: 100%;
  max-width: 319px;
  padding: 11px 19px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.contact-person-input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.contact-person-input::-moz-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.contact-person-input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.contact-person-input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.contact-person-input::placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.contact-person-input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 1px solid #DC4D41;
}

.contact-person-input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 1px solid #DC4D41;
}

.contact-person-input:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid #DC4D41;
}

.contact-person-input--country {
  background-image: url("../images/state-input-bg-img.svg");
  background-size: 15px 15px;
  background-position: center right 5%;
  background-repeat: no-repeat;
}

.contact-person-info-check,
.confirmation-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 18px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.contact-address-checkbox,
.confirmation-agree-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.billing-method-main {
  margin-top: 64px;
}

.method-inputs-label,
.payment-method-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 16px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.method-inputs-label:first-child,
.payment-method-label:first-child {
  margin-bottom: 16px;
}

.payment-method-label {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-summary {
  height: 800px;
  padding: 32px 16px 34px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.order-summary-product-box {
  padding-bottom: 16px;
  border-bottom: 1px solid #F9F9F9;
}

.order-summary-product-box:not(:first-child) {
  margin-top: 32px;
}

.order-summary-title-box {
  margin-bottom: 40px;
}

.order-summary-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.order-summary-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.order-summary-product-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-summary-product-title-box {
  margin-left: 16px;
}

.order-summary-product-title {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.order-summary-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-summary-product-info-text {
  margin: 7px 0 0 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.order-summary-product-text-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 14px;
}

.order-summary-product-text-info {
  margin: 7px 0 0 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.order-summary-product-text-info--farm {
  margin-left: 42px;
}

.order-summary-product-price-full-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.order-summary-product-price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.order-summary-product-price-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-summary-product-price-category-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.order-summary-product-price-category-text::before {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.order-summary-product-price-category-text:nth-child(2)::before {
  background-image: url("../images/picture-icon.svg");
}

.order-summary-product-price-category-text:nth-child(3)::before {
  background-image: url("../images/close-icon.svg");
}

.order-summary-product-price-category-text:not(:last-child) {
  margin-bottom: 8px;
}

.order-summary-product-star-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-summary-product-price-box {
  margin-left: 46px;
}

.order-summary-product-active-price {
  display: block;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #6A983C;
}

.order-summary-product-last-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.order-summary-product-pcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 92px;
  margin-left: auto;
  padding: 6px 6.5px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.order-summary-product-pcs-text {
  display: inline-block;
}

.order-summary-product-pcs-previous {
  padding-right: 6px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #D1D1D1;
  border-right: 1px solid #D1D1D1;
}

.order-summary-product-pcs-active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 6px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.order-summary-product-pcs-active::after {
  width: 10px;
  height: 10px;
  margin: 4px 0 0 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.order-summary-price-total-box {
  margin-top: 40px;
}

.order-summary-price-total-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.order-summary-price-total-text-box:not(:last-child) {
  margin-bottom: 12px;
}

.order-summary-price-total-text,
.order-summary-price-total-info {
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.order-summary-price-total-form {
  margin-top: 32px;
}

.order-summary-price-total-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 500px;
}

.order-summary-price-total-input {
  width: 100%;
  max-width: 366px;
  padding: 11px 11px 11px 21px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.order-summary-price-total-input::-webkit-input-placeholder {
  color: #A9A9A9;
}

.order-summary-price-total-input::-moz-placeholder {
  color: #A9A9A9;
}

.order-summary-price-total-input:-ms-input-placeholder {
  color: #A9A9A9;
}

.order-summary-price-total-input::-ms-input-placeholder {
  color: #A9A9A9;
}

.order-summary-price-total-input::placeholder {
  color: #A9A9A9;
}

.order-summary-price-total-btn {
  padding: 10px 16px 9px 10px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-left: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  white-space: nowrap;
}

.order-summary-total-price-main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.order-summary-total-price-info-sum-text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.order-summary-total-price-info-text {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
}

.order-summary-total-price-box-price {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #6A983C;
}

@media only screen and (max-width: 991px) {
  .order-summary {
    width: 100%;
    max-width: 464px;
    margin: 40px auto 0 auto;
  }
}

@media only screen and (max-width: 420px) {
  .order-summary {
    height: 842px;
  }

  .order-summary-total-price-main-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .order-summary-total-price-box-price {
    margin-left: auto;
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .order-summary-product-active-price {
    font-size: 14px;
  }
}

/* End of Contact Section */
/* Start Order Summary Page Footer */
#order-summary-site-footer {
  margin-top: 16px;
  padding: 64px 0;
  background-color: #FDFDFD;
}

.order-summary-footer-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

@media only screen and (max-width: 991px) {
  #order-summary-site-footer {
    padding: 45px 0;
  }

  #order-summary-site-footer .order-summary-footer-text {
    text-align: center;
  }
}

.billing-method-input:checked+.method-billing-companies>.method-billing-round,
.payment-method-input:checked+.payment-method-label-main .payment-method-companies>.payment-method-round {
  border: 5px solid #6A983C;
}

.payment-method-label-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.payment-method-info {
  display: none;
}

.payment-method-input:checked~.payment-method-info {
  display: block;
}

.payment-method-label-active {
  background-color: #fff;
}

.payment-method-input:checked+.payment-method-label-active {
  background-color: #fff;
}

.method-billing-companies,
.payment-method-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.method-billing-round,
.payment-method-round {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 18px;
  background-color: #FFFFFF;
  border: 1.5px solid #D1D1D1;
  border-radius: 50%;
}

.method-input-price,
.method-billing-company-name,
.payment-method-company-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.method-delivery-price {
  margin-right: 12px;
  color: #6A983C;
}

.method-input-bg {
  width: 54px;
  height: 16px;
  background-image: url("../images/fedex-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.method-dhl {
  width: 93px;
  height: 14px;
  background-image: url("../images/dhl-logo.svg");
}

.card-credit-card {
  width: 94px;
  height: 20px;
  background-image: url("../images/visa-logo.svg");
}

.card-paypal {
  width: 76px;
  height: 18px;
  background-image: url("../images/paypal-logo.svg");
}

.card-bitcoin {
  width: 75px;
  height: 16px;
  background-image: url("../images/bitcoin-logo.svg");
}

.payment-method {
  margin-top: 64px;
}

.payment-method-input-label-main:first-child {
  margin-bottom: 0;
}

.payment-method-input-label-main:not(:last-child) {
  margin-bottom: 16px;
}

.card-number-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.payment-method-info {
  margin-top: 34px;
  width: 100%;
}

.payment-method-card-info-input {
  width: 100%;
  padding: 11px 18px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.payment-method-card-info-input--holder {
  max-width: 310px;
}

.payment-method-other-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 32px;
}

.payment-method-card-data-input {
  max-width: 140px;
}

.card-payment-data,
.card-holder-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-holder-input-box {
  width: 100%;
  max-width: 320px;
}

.card-payment-data--expiration {
  margin-right: 16px;
}

.payment-card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional-info {
  margin-top: 64px;
}

.additional-info-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.additional-info-message {
  max-width: 670px;
  height: 112px;
  padding: 11px 21px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  resize: none;
}

.confirmation-box {
  margin-top: 64px;
}

.confirmation-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.confirmation-label:not(:last-child) {
  margin-bottom: 16px;
}

.address-check-input {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.confirmation-agreement {
  margin: 0 5px;
  text-decoration: underline;
}

.contact-send-btn {
  margin-top: 32px;
  padding: 16.5px 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #6A983C;
  border: none;
  border: 2px solid #46760A;
  border-radius: 12px;
}

.user-privacy {
  width: 213px;
  margin-top: 34px;
}

.user-privacy::before {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url("../images/verify-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.user-privacy-title {
  margin: 0 0 2px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.user-privacy-text {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.payment-method-input:checked+.payment-method-label .payment-method-info {
  display: block;
}

.payment-method-input:checked+.payment-method-label {
  background-color: #fff;
}

.payment-method-input:checked+.payment-method-label .payment-method-round {
  border: 5px solid #6A983C;
}

.payment-method-input:checked+.payment-method-label-main .payment-method-companies>.payment-method-round {
  border: 5px solid #6A983C;
}

.payment-method-input-label-main {
  display: block;
}

/* End of Label active */
@media only screen and (max-width: 1120px) {
  .payment-method-other-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .payment-card-data {
    margin-top: 32px;
  }

  .card-holder-input-box {
    max-width: 350px;
  }
}

@media only screen and (max-width: 991px) {
  .billing-steps {
    max-width: 100%;
  }

  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .name-form-box {
    margin-bottom: 0;
  }

  .contact-person-info {
    font-size: 14px;
  }

  .contact-person-input {
    max-width: 500px;
    margin: 5px 0 20px 0;
  }

  .billing-method-main,
  .payment-method,
  .additional-info,
  .confirmation-box {
    width: 100%;
    max-width: 464px;
  }

  .payment-method {
    margin: 64px 0 0 0;
  }

  .additional-info-message {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 410px) {

  .method-input-price,
  .method-billing-company-name,
  .payment-method-company-name {
    font-size: 10px;
  }

  .method-billing-round,
  .payment-method-round {
    margin-right: 10px;
  }

  .method-input-bg {
    width: 40px;
    height: 16px;
  }

  .method-dhl {
    width: 60px;
    height: 14px;
  }

  .card-credit-card {
    width: 80px;
  }

  .card-paypal {
    width: 70px;
  }

  .card-bitcoin {
    width: 75px;
  }

  .biling-steps-info--additional {
    font-size: 10px;
  }
}

/* Start Order Summary Box */