@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 48px;
  width: 32px;
  top: 0;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none;
  outline: none;
  z-index: 100;
  background-image: url("../../images/next-btn.png"), url("../../images/prev-btn.png");
  background-repeat: no-repeat;
}


.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
  opacity: 0.5;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev{
  left: 0;
  top: 30%;
  background-image: url("../../images/prev-btn.png");
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../images/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0;
  top: 30%;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../images/right-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: aqua;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 33.4%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: teal;
  display: block;
  height: 20px;
  width: 100%;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
  background-color: blue;
  animation: run 2s ease;
}


@keyframes run {
  from{
    width: 20px;
    border-radius: 50%;
  }to{
    width: 60px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 945px){
  .slick-prev{
    top: 18%;
  }
  .slick-next{
    top: 18%;
  }
}
/*# sourceMappingURL=slick-theme.css.map */