/* Start Contact Section */
.contact-part {
    margin-top: 16px;
}

.contact-form {
    max-width: 670px;
}

.contact-billing-titles {
    margin-bottom: 32px;
}

.billing-title {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #151515;
}

.biling-steps-info {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.billing-steps {
    display: flex;
    justify-content: space-between;
    // max-width: 673px;
    margin: 4px 0 0px 0;
}

.name-form-box {
    margin-bottom: 32px;
}

.contact-person-info {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.contact-person-input {
    width: 100%;
    max-width: 319px;
    padding: 11px 19px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;

    &::placeholder {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #A9A9A9;
    }

    &:not(:placeholder-shown):not(:focus):invalid {
        border: 1px solid #DC4D41;
    }
}

.contact-person-input--country {
    background-image: url("../images/state-input-bg-img.svg");
    background-size: 15px 15px;
    background-position: center right 5%;
    background-repeat: no-repeat;
}

.contact-person-info-check,
.confirmation-label {
    display: flex;
    align-items: center;
    padding: 11px 18px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.contact-address-checkbox,
.confirmation-agree-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.billing-method-main {
    margin-top: 64px;
}

.method-inputs-label,
.payment-method-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;

    &:first-child {
        margin-bottom: 16px;
    }
}

.payment-method-label {
    flex-direction: column;
}

.billing-method-input:checked+.method-billing-companies>.method-billing-round,
.payment-method-input:checked+.payment-method-label-main .payment-method-companies>.payment-method-round {
    border: 5px solid #6A983C;
}

.payment-method-label-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.payment-method-info {
    display: none;
}

.payment-method-input:checked~.payment-method-info {
    display: block;
}

.payment-method-label-active {
    background-color: #fff;
}



.payment-method-input:checked+.payment-method-label-active {
    background-color: #fff;
}



.method-billing-companies,
.payment-method-companies {
    display: flex;
    align-items: center;
}

.method-billing-round,
.payment-method-round {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 18px;
    background-color: #FFFFFF;
    border: 1.5px solid #D1D1D1;
    border-radius: 50%;
}

.method-input-price,
.method-billing-company-name,
.payment-method-company-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.method-delivery-price {
    margin-right: 12px;
    color: #6A983C;
}

.method-input-bg {
    width: 54px;
    height: 16px;
    background-image: url("../images/fedex-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.method-dhl {
    width: 93px;
    height: 14px;
    background-image: url("../images/dhl-logo.svg");
}

.card-credit-card {
    width: 94px;
    height: 20px;
    background-image: url("../images/visa-logo.svg");
}

.card-paypal {
    width: 76px;
    height: 18px;
    background-image: url("../images/paypal-logo.svg");
}

.card-bitcoin {
    width: 75px;
    height: 16px;
    background-image: url("../images/bitcoin-logo.svg");
}

.payment-method {
    margin-top: 64px;
}

.payment-method-input-label-main {
    &:first-child {
        margin-bottom: 0;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.card-number-input-box {
    display: flex;
    flex-direction: column;
}

.payment-method-info {
    margin-top: 34px;
    width: 100%;
}

.payment-method-card-info-input {
    width: 100%;
    padding: 11px 18px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.payment-method-card-info-input--holder {
    max-width: 310px;
}

.payment-method-other-info-box {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.payment-method-card-data-input {
    max-width: 140px;
}

.card-payment-data,
.card-holder-input-box {
    display: flex;
    flex-direction: column;
}

.card-holder-input-box {
    width: 100%;
    max-width: 320px;
}

.card-payment-data--expiration {
    margin-right: 16px;
}

.payment-card-data {
    display: flex;
}

.additional-info {
    margin-top: 64px;
}

.additional-info-label {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.additional-info-message {
    max-width: 670px;
    height: 112px;
    padding: 11px 21px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    resize: none;
}

.confirmation-box {
    margin-top: 64px;
}

.confirmation-label {
    display: inline-flex;
}

.confirmation-label:not(:last-child) {
    margin-bottom: 16px;
}

.address-check-input {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}

.confirmation-agreement {
    margin: 0 5px;
    text-decoration: underline;
}

.contact-send-btn {
    margin-top: 32px;
    padding: 16.5px 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #6A983C;
    border: none;
    border: 2px solid #46760A;
    border-radius: 12px;
}

.user-privacy {
    width: 213px;
    margin-top: 34px;
}

.user-privacy::before {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-image: url("../images/verify-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.user-privacy-title {
    margin: 0 0 2px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.user-privacy-text {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

/* Start Label active */
.payment-method-input:checked+.payment-method-label .payment-method-info {
    display: block;
}

.payment-method-input:checked+.payment-method-label {
    background-color: #fff;
}

.payment-method-input:checked+.payment-method-label .payment-method-round {
    border: 5px solid #6A983C;
}

.payment-method-input:checked+.payment-method-label-main .payment-method-companies>.payment-method-round {
    border: 5px solid #6A983C;
}

.payment-method-input-label-main {
    display: block;
}

/* End of Label active */

@media only screen and (max-width:1120px) {

    .payment-method-other-info-box {
        flex-direction: column;
    }

    .payment-card-data {
        margin-top: 32px;
    }

    .card-holder-input-box {
        max-width: 350px;
    }
}

@media only screen and (max-width:991px) {
    .billing-steps {
        max-width: 100%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .name-form-box {
        margin-bottom: 0;
    }

    .contact-person-info {
        font-size: 14px;
    }

    .contact-person-input {
        max-width: 500px;
        margin: 5px 0 20px 0;
    }

    .billing-method-main,
    .payment-method,
    .additional-info,
    .confirmation-box {
        width: 100%;
        max-width: 464px;
    }

    .payment-method {
        margin: 64px 0 0 0;
    }

    .additional-info-message {
        margin-top: 5px;
    }
}

@media only screen and (max-width:410px) {

    .method-input-price,
    .method-billing-company-name,
    .payment-method-company-name {
        font-size: 10px;
    }

    .method-billing-round,
    .payment-method-round {
        margin-right: 10px;
    }

    .method-input-bg {
        width: 40px;
        height: 16px;
    }

    .method-dhl {
        width: 60px;
        height: 14px;
    }

    .card-credit-card {
        width: 80px;
    }

    .card-paypal {
        width: 70px;
    }

    .card-bitcoin {
        width: 75px;
    }

    .biling-steps-info--additional {
        font-size: 10px;
    }
}

/* Start Order Summary Box */

/* End of Order Summary Box */

.order-summary {
    height: 800px;
    padding: 32px 16px 34px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.order-summary-product-box {
    padding-bottom: 16px;
    border-bottom: 1px solid #F9F9F9;
}

.order-summary-product-box:not(:first-child) {
    margin-top: 32px;
}

.order-summary-title-box {
    margin-bottom: 40px;
}

.order-summary-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #151515;
}

.order-summary-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.order-summary-product-main {
    display: flex;
    align-items: center;
}

.order-summary-product-title-box {
    margin-left: 16px;
}

.order-summary-product-title {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.order-summary-product-info {
    display: flex;
    align-items: center;
}

.order-summary-product-info-text {
    margin: 7px 0 0 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.order-summary-product-text-info-box {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.order-summary-product-text-info {
    margin: 7px 0 0 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #151515;
}

.order-summary-product-text-info--farm {
    margin-left: 42px;
}

.order-summary-product-price-full-info {
    display: flex;
    align-items: flex-end;
}

.order-summary-product-price-info {
    display: flex;
    margin-top: 12px;
}

.order-summary-product-price-category {
    display: flex;
    flex-direction: column;
}

.order-summary-product-price-category-text {
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.order-summary-product-price-category-text::before {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    background-image: url("../images/heart-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.order-summary-product-price-category-text:nth-child(2)::before {
    background-image: url("../images/picture-icon.svg");
}

.order-summary-product-price-category-text:nth-child(3)::before {
    background-image: url("../images/close-icon.svg");
}

.order-summary-product-price-category-text:not(:last-child) {
    margin-bottom: 8px;
}

.order-summary-product-star-box {
    display: flex;
    align-items: center;
}

.order-summary-product-price-box {
    margin-left: 46px;
}

.order-summary-product-active-price {
    display: block;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #6A983C;
}

.order-summary-product-last-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    // text-decoration-line: line-through;
    color: #A9A9A9;
}

.order-summary-product-pcs {
    display: flex;
    align-items: center;
    width: 92px;
    margin-left: auto;
    padding: 6px 6.5px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.order-summary-product-pcs-text {
    display: inline-block;
}

.order-summary-product-pcs-previous {
    padding-right: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #D1D1D1;
    border-right: 1px solid #D1D1D1;
}

.order-summary-product-pcs-active {
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.order-summary-product-pcs-active::after {
    width: 10px;
    height: 10px;
    margin: 4px 0 0 4px;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.order-summary-price-total-box {
    margin-top: 40px;
}

.order-summary-price-total-text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-summary-price-total-text-box:not(:last-child) {
    margin-bottom: 12px;
}

.order-summary-price-total-text,
.order-summary-price-total-info {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.order-summary-price-total-form {
    margin-top: 32px;
}

.order-summary-price-total-input-box {
    display: flex;
    align-items: center;
    max-width: 500px;
}

.order-summary-price-total-input {
    width: 100%;
    max-width: 366px;
    padding: 11px 11px 11px 21px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-right: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    &::placeholder {
        color: #A9A9A9;
    }
}

.order-summary-price-total-btn {
    padding: 10px 16px 9px 10px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    white-space: nowrap;
}

.order-summary-total-price-main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.order-summary-total-price-info-sum-text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.order-summary-total-price-info-text {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6A983C;
}

.order-summary-total-price-box-price {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #6A983C;
}

@media only screen and (max-width:991px) {
    .order-summary {
        width: 100%;
        max-width: 464px;
        margin: 40px auto 0 auto;
    }
}

@media only screen and (max-width:420px) {
    .order-summary {
        height: 842px;
    }

    .order-summary-total-price-main-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-summary-total-price-box-price {
        margin-left: auto;
        font-size: 20px;
    }
}

@media only screen and (max-width:360px) {
    .order-summary-product-active-price {
        font-size: 14px;
    }
}

/* End of Contact Section */

/* Start Order Summary Page Footer */
#order-summary-site-footer {
    margin-top: 16px;
    padding: 64px 0;
    background-color: #FDFDFD;
}

.order-summary-footer-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}

@media only screen and (max-width:991px) {
    #order-summary-site-footer {
        padding: 45px 0;

        .order-summary-footer-text {
            text-align: center;
        }
    }
}

/* End of Order Summary Page Footer */