.best-selling{
    padding-top: 128px;
}

.selling-card > img{
    width: 249px!important;
    padding-left: 20px;
}

.card-index-image{
    width: 249px!important;
    padding-left: 20px!important;
}

@media screen and (min-width: 320px) and (max-width: 572px){
    .selling-card{
        margin: 0 auto;
        &:nth-child(2){
            margin: 20px auto;
        }
    }
}

@media screen and (min-width: 778px) {
    .selling-card{
        float: right;
        margin-right: 30px;
    }
}
